.display {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.walletDetails {
}

.logo {
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-start;

  padding: 0.6em 1.2em;
  margin-bottom: 0.5em;

  font-family: inherit;
  font-size: 1em;
  font-weight: 500;
}
.logo > img {
  width: 2em;
  height: 1.5em;
  margin-right: 1em;
}
.logo > div {
  margin-right: 1em;
}

.providers {
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  align-items: start;
  align-content: start;

  padding: 0.6em 1.2em;
}

.providers span {
  text-align: start;
  padding: 8px 0;
  word-break: break-all;
}

.providers strong {
  color: #aaa;
}

.transaction {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.transaction .input {
  display: flex;
  width: 100%;
}

.transaction .input label {
  width: 100px;
}

.transaction .input input {
  width: 100%;
}

.button {
  width: 100%;
  display: flex;
  justify-content: center;
}

button {
  color: gold;
}
